$boolean-black: #535353;
$boolean-blue: rgb(77, 119, 255);
$boolean-green: #5fad63;

.submit-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 100%;
    #boolean-input-field {
      font-size: 4rem;
      color: $boolean-black;
      width: max(20rem, 60%);
      border-radius: 0.25rem;
      border: 2px solid $boolean-green;

      &:focus {
        border: 2px solid rgb(77, 119, 255);
        border-radius: 0.5rem;
        outline: none !important;
      }
    }
  }
}